GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxx
FIRECRAWL_API_KEY=fc-xxxxxxxxxxxxxxxxxxxxxxxx

HF_HOME=C:/HuggingFaceCache
TRANSFORMERS_CACHE=C:/HuggingFaceCache

FILGOAL_ALLOWED_ORIGINS=http://127.0.0.1:7860,http://localhost:7860
FILGOAL_RATE_LIMIT=20/minute
